.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 5rem;
  height: 100%;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: $shadow-2;
  padding: 2rem 10rem;

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
  }
  &__select {
    width: 100%;
  }
  &__field {
    width: 80px !important;
  }
}

button,
.btn {
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  appearance: none;
  color: $white;
  background: $primary-500;
  border: none;
  border-radius: $borderRadius;
  letter-spacing: $letterSpacing;
  padding: 1rem 2rem;
  box-shadow: $shadow-1;
  transition: $transition;
  text-transform: capitalize;
  margin-top: 3rem;
}
button:hover,
.btn:hover {
  color: $white;
  background: $primary-700;
  box-shadow: $shadow-2;
}
label {
  display: block;
  font-size: $smallText;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
input,
select {
  font-size: $bigText;
  border-radius: $borderRadius;
  background: $grey-0;
  border-color: transparent;
  border: 1px solid $grey-300;
  text-align: left;
  padding: 1rem;
}

@media only screen and (max-width: 426px) {
  .form {
    padding: 1rem;
    &__field {
      width: 70px !important;
    }
  }
  select,
  input {
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
  }
  h1 {
    text-align: center;
  }
}
