/* COLORS  */
/* primary */
$primary-0: #f0efff;
/* main */
$primary-500: #645cff;
$primary-700: #4640b3;
/* grey */
$grey-0: #fafbfc;
$grey-300: #dbe0ea;
$grey-600: #adb3bf;
/* rest */
$black: #222;
$white: #fff;
/* box shadows */
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.6), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.6), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
/* typography */
$defaultFontSize: 87.5%;
$headingFont: "Inconsolata", monospace;
$bodyFont: "Montserrat", sans-serif;
$smallText: 0.8em;
$bigText: 1.2rem;
/* rest */
$borderRadius: 0.25rem;
$letterSpacing: 1px;
$transition: 0.3s ease-in-out all;
